NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBByg1y9UYxX8Q5Zj3XDIRLJxbV4rgu_BY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=afglion-47b07.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=afglion-47b07
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=afglion-47b07.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=226343766461
NEXT_PUBLIC_FIREBASE_APP_ID=1:226343766461:web:d443f1398dd121d6efead4
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-HGQVVJG9GQ
NEXT_PUBLIC_ADMIN_TELEGRAM_ID=
